/* purple: #642E92;
blue: #0F72BB;
magenta: #92298E;
black: #1F1F1F;
second green: #D2D859;
second yellow: #FEC65F;
second blue: #7FD0DB
second red: #E46460;
font-family: 'DM Sans', sans-serif; */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: 'DM Sans', sans-serif;
  background: #f2f2f2;
}

.home {
   max-width: 550px;
   margin: 0 auto;
}

.head-line {
  font-size: 68px;
  margin-top: 40%;
  color: #0F72BB;
  text-align: center;
  margin-bottom: 5%;
  padding-top: 20%;
  border-top: 10px solid #D2D859;
}

.span-headlin {
  font-weight: 100;
}

.tagline-home {
  font-weight: 500;
  text-align: center;
  font-size: 22px;
  color: #92298E;
  margin: 0;
  margin-bottom: 20%;
  padding-bottom: 20%;
  border-bottom: 10px solid #D2D859;
}

.close-btn {
  width:20px;
  margin-top: 5%;
  font-size: 1.1em;
  padding: 0.3em;
  color: #1F1F1F;
  border: 1px dotted #1F1F1F;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: block;
  margin-left: 7%;
}

.close-btn:hover {
  background-color: #E46460;
  color: #f2f2f2;
  border: 1px solid #E46460;
}

.head-btn {
  width: 22%;
  margin-top: 70%;
  font-size: 1.2em;
  padding: 0.3em;
  color: #1F1F1F;
  border: 1px solid #1F1F1F;
  background-color: #f2f2f2;
  border-radius: 0.7em;
  display: block;
  margin-left: 39%;
}

.head-btn:hover {
  background-color: #1F1F1F;
  color: #f2f2f2;
}

.text-container {
  margin: 0 auto;
  max-width: 550px;
  margin-top: 20%;
}

.intro-text {
  max-width: 510px;
  padding: 3%;
  font-size: 1.3rem;
  margin-left: 4%
}

.head-btn-intro{
  width: 22%;
  font-size: 1.2em;
  padding: 0.3em;
  color: #0F72BB;
  border: 1px solid #0F72BB;
  background-color: #f2f2f2;
  border-radius: 0.7em;
  display: block;
  margin-left: 75%;
  margin-top: 20%;
}

.head-btn-intro:hover {
  background-color: #0F72BB;
  color: #f2f2f2;
}

.div-title {
  max-width: 550px;
  background-color: #1F1F1F;
}

.general-title {
  max-width: 550px;
  margin-left: 5%;
  padding: 0.5rem;
  color: white;
  font-size: 2.2rem;
}

/* .fourteen-container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 25%;
  padding-bottom: 10%;
}

.div-title-q14{
  max-width: 600px;
}

.fourteen-title{
  margin-left: 5%;
  padding: 0.5rem;
  color: white;
  font-size: 1.8rem;
} */

.main-terms {
  margin: 0 auto;
  max-width: 550px;
  margin-top: 20%;
  padding-bottom: 5%;
}

.text-terms {
  font-size: 1.3rem;
  margin-left: 4%;
}

.form-terms {
  font-size: 1.6rem;
  margin-left: 3%;
}

input[type=checkbox] {
  transform: scale(2);
  margin-bottom: 2%;
  margin-right: 5%;
  margin-top: 5%;
}

.main-info {
  margin-top: 12%;
  margin-left: 20%;
}

.form-info {
  max-width: 340px;
  align-content: center;
}

.input-age {
  width: 240px;
  padding: 4px;
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
  border: 1px solid #92298E;
  margin-bottom: 1rem;
  border-radius: .25em;
  margin-left: 4%;
}

.label-gender {
  margin-top: 4%;
  margin-bottom:2%;
  display: inline-block;
}

.main-q {
  margin: 0 auto;
  max-width: 550px;
  margin-top: 8%;
}

.question-title {
  margin-left: 4%;
  padding-top: 3%;
}

.radio-form {
  box-sizing: border-box;
  font-size: 22px;
  max-width: 850px;
  margin-left: 5%;
  padding: 20px 50px
}

.wrapper {
  position: relative;
  width: 480px;
  margin-left: -8%;
  margin-top: -0.8rem;
}

.wrapper label {
  display: block;
  margin-top: -6%;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 50px;
  /* position: absolute; */
}

input[type=radio] {
  transform: scale(2);
  margin-right: 5%;
  display: inline-block;
  margin-top: 10%;
  /* position: absolute; */
}

.q-title {
  padding-bottom: 2%;
}

.btn {
  width: 24%;
  font-size: 1.2em;
  padding: 0.3em;
  color: #0F72BB;
  border: 1px solid #0F72BB;
  background-color: #f2f2f2;;
  border-radius: 0.7em;
  display: block;
  margin-left: 85%;
  margin-top: 15%;
}

.btn:hover {
  background-color: #0F72BB;
  color: #f2f2f2;;
}

.textEl {
  font-weight: 600;
  color: #E46460;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: -20%;
  margin-left: -35%;
  z-index: 10;
}

.general-container {
  margin: 0 auto;
  max-width: 550px;
  margin-top: 20%;
}

.form-container {
  margin: 0 auto;
  width: 580px;
  margin-top: 5%;
}

.div-title-q14 {
  background-color: #1F1F1F;
  max-width: 780px;
  margin-top: 5%;
}

.container-q14 {
  max-width: 380px;
  margin: 0 auto;
}

.form-q14 {
 display: flex;
}

.wrapper-14 {
  position: relative;
  width: 400px;
  margin-left: -5%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 3%;
  margin-top: -0.5rem;
}

.title-q14 {
  font-size: 1.8rem;
  margin-bottom: 12%;
  padding-top: 15%;
  border-bottom: 3px solid #92298E;
}

.number-container {
  margin-left: 32%;
}

.number-q14 {
  margin: 0 auto;
  display: inline-block;
  padding-right: 13%;
}

.form-info {
  font-size: 1.5rem;
}

.radio-btn-q14 {
 margin: 1.2rem;
}

.lable-q14-1 {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.lable-q14-2 {
  font-size: 1.2rem;
  margin-left: 1.4rem;
}

.graph-container {
  margin: 0 auto;
  max-width: 750px;
}

#answers-chart {
  margin: 0 auto;
  margin-top: 10%;
  padding: 5%;
}

.btn-sum {
  width: 32%;
  margin-top: 2em;
  font-size: 1.4em;
  padding: 0.6em;
  color: #92298E;
  border: 1px solid #92298E;
  background-color: #f2f2f2;;
  border-radius: 0.7em;
  display: block;
  margin-left: 35%;
}

.btn-sum:hover {
  background-color: #92298E;
  color: #f2f2f2;;
}

@media only screen and (min-width: 1000px) {

  .general-container {
    margin-top: 5%;
  }

  .text-container {
    margin-top: 5%;
  }

  .intro-text {
    max-width: 510px;
    font-size: 1rem;
  }

  .head-btn {
    margin-top: 20%;
  }

  .head-btn-intro {
    margin-top: 30%;
    margin-left: 80%;
  }

  .btn {
    font-size: 1.4rem;
    margin-left: 100%;
  }

  .form-terms {
    font-size: 1.5rem;
    margin-top: 8%;
  }

  .radio-form {
    margin-left: 1%;
  }

  .wrapper {
    position: relative;
    width: 700px;
    margin-left: -8%;
    margin-top: -3rem;
  }

  .wrapper label {
    margin-top: -3%;
  }

  .question-title {
    width: 500px;
  }

}

@media only screen and (max-width: 600px) {


  .home {
     max-width: 500px;
   }

  .head-line {
    font-size: 40px;
    margin-top: 30%;
  }

  .tagline-home {
    font-weight: 500;
    font-size: 14px;
  }

  .head-btn {
    margin-top: 10%;
  }

  .text-container {
    margin-top: 5%;
    max-width: 450px;
    padding-left: 1%;
    padding-right: 1%;
  }

  .intro-text {
    max-width: 380px;
    font-size: 0.8rem;
  }

  .div-title {
    margin-top: 10%;
    max-width: 400px;
  }

  .general-title {
    max-width: 450px;
    font-size: 2rem;
  }

.head-btn-intro {
  margin-left: 70%;
  font-size: 1.1rem;
  }

.btn {
  margin-left: 60%;
  font-size: 1.1rem;
}

.main-terms {
  max-width: 350px;
}

.text-terms {
  font-size: 1rem;
  margin-left: 4%;
}

.form-terms {
  font-size: 1.4rem;
}

.form-info {
  font-size: 1rem;
   width: 380px;
   margin-left: -10%;
}

.radio-form {
  font-size: 14px;
  max-width: 450px;
  margin-left: 2%;
}

.wrapper {
  position: relative;
  width: 300px;
  margin-left: -10%;
  margin-top: -2.3rem;
 }

 .question-title {
   width: 300px;
   font-size: 18px;
   padding-top: 1px;
 }

 .general-container {
   margin: 0 auto;
   max-width: 550px;
 }

 .general-container {
   margin-top: 2%;
 }

 .form-container {
   margin: 0 auto;
   width: 400px;
   margin-top: 5%;
 }

 .graph-container {
   max-width: 150px;
 }

 #answers-chart {
   margin-left: -85%;
 }

 .btn-sum {
   width: 40%;
   margin-top: 0.5em;
   font-size: 1em;
   margin-left: 30%;
 }

}
